NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_DB_URL=

PLATFORM_ADMIN_EMAIL=
PLATFORM_ADMIN_PASSWORD=
PLATFORM_ADMIN_NAME=
PLATFORM_ADMIN_PHONE=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

RESEND_API_KEY=


APPLE_PASS_TYPE_ID=pass.com.yourcompany.cloak
APPLE_TEAM_ID=XXXXXXXXXX
APPLE_PASS_CERT_PEM=-----BEGIN CERTIFICATE-----...
APPLE_PASS_KEY_PEM=-----BEGIN RSA PRIVATE KEY-----...
APPLE_WWDR_PEM=-----BEGIN CERTIFICATE-----...

GOOGLE_WALLET_ISSUER_ID=3388000000XXXXXXXXX
GOOGLE_SERVICE_ACCOUNT_EMAIL=wallet@your-project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----...

NEXT_PUBLIC_MAPTILER_KEY=